@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;
  --highlight: #660;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ddd;
    --highlight: #ffb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-synthesis: none;
}

a {
    color: var(--highlight);
  &:hover {
    text-decoration: underline;
  }
}

path.logo {
    fill: var(--foreground);
}